@using PizzaMania.Models
@model List<Order>
@{

    ViewData["Title"] = "Order";
    double total = 0;
}




<div class="container-fluid">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Pizze</th>
                <th scope="col">Address</th>
                <th scope="col">Notes</th>
                <th scope="col">Status</th>
                <th scope="col">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                    var status = order.Status;
                <tr>
                    <th scope="row">@order.Id</th>
                    <td>
                        @foreach (var i in order.CartObjects)
                            {
                                var sub = i.Quantity * i.Pizza.Price;
                                total += sub;
                            <span>@i.Pizza.Name (@i.Quantity)</span>
                        }
                    </td>
                    <td>@order.Address</td>
                    <td>@order.AdditionNotes</td>
                    <td>
                        <form asp-action="UpdateStatus" asp-route-id="@order.Id">
                            <select asp-for="@status" onchange="this.form.submit()">
                                <option disabled value=" ">Change Status</option>
                                <option value="Accepted">Accepted</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Delivered">Delivered</option>
                            </select>
                        </form>
                    </td>
                    <td>@total</td>
                    <td> <a asp-action="DeleteOrder" asp-route-id="@order.Id">Delete</a></td>
                </tr>
            }
        </tbody>
</div>
</table>



